# Task 1: Create an account and getting familiar with MongoDB

## 1.1 - Setup an MongoDB ATLAS account
Follow the instructions from here: https://docs.google.com/document/d/1Puyz0RLfEqiCRl-ZaKdtKloEqVsN8GKdMuraKn1ZdoI/edit?usp=sharing 


## 1.2 - MongoDB concepts compared to Relational DB concepts
In MongoDB, a **database** is the container for collections. A single **collection**  is the container for documents. **Documents** are usually key/value pairs but it can include arrays and subdocuments. It can support different data types. More information here: https://docs.mongodb.com/manual/reference/bson-types/. 

| Relational DB  | MongoDB  |
|---|---|
|  Database | Database  |  
| Tables  |  Collections |
| Rows  | Documents  |
| Index  |  Index |
 	


## 1.3 Document structure
You can find more information about MongoDB document structure https://docs.mongodb.com/manual/core/document/. If you are not familiar with JSON and BSON specifications, you might wish to read about them here:
- JSON: https://www.json.org/json-en.html
- BSON: http://bsonspec.org

# Task 2: Query a dataset

We need `pymongo`, `dnspython` and `python==3.6`

In [11]:
# install missing library

!pip install pymongo
!pip install dnspython

Requirement already satisfied: pymongo in e:\anaconda3\lib\site-packages (2.8)
Requirement already satisfied: dnspython in e:\anaconda3\lib\site-packages (2.1.0)

If you use Google's collab, you now have to select `Runtime -> Restart runtime` or `Ctrl+M`.

In [12]:
#@title Imports
import pymongo
from pprint import pprint
from random import randint

## 2.1 - Establish a connection to MongoDB

- **_[TO DO]_** : Connect to MongoDB using the MongoClient class from PyMongo library.

In [16]:
###########################
# Task: 
#   use MongoClient class to connect to MongoDB
#
###########################
from pymongo import MongoClient
#client = ### TO DO
#db=client.admin

#client = pymongo.MongoClient("mongodb+srv://TengLi99:<password>@cluster0.8um2o.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
#client = MongoClient("mongodb+srv://TengLi99:liteng1219@cluster0.8um2o.mongodb.net/")
#connection_string = "mongodb+srv://TengLi99:liteng1219@<CLUSTER>/<COLLECTION>?ssl=true&ssl_cert_reqs=CERT_NONE"
#client = pymongo.MongoClient("mongodb+srv://TengLi99:liteng1219@cluster0.8um2o.mongodb.net/admin?retryWrites=true&w=majority")
#db = client.admin

#MONGO_CONNECTION_STRING = "mongodb+srv://TengLi99:liteng1219@cluster0.8um2o.mongodb.net/admin?ssl=true&ssl_cert_reqs=CERT_NONE"
#client = pymongo.MongoClient(MONGO_CONNECTION_STRING, connect=False)
client = pymongo.MongoClient("mongodb+srv://TengLi99:liteng1219@cluster0.8um2o.mongodb.net/admin?retryWrites=true&w=majority")
db = client.admin
#########

InvalidURI: Invalid URI scheme: mongodb+srv

Let's check whether everything works properly by retrieving the server status and printing the results, as follows:

In [90]:
serverStatusResult=db.command("serverStatus")
pprint(serverStatusResult)

{'$clusterTime': {'clusterTime': Timestamp(1636392655, 10),
                  'signature': {'hash': b'}!1gz\xff\x851_\xd2\xc5K'
                                        b'\x1b\xea\x88\xf4\xcb\xd9\x90\x9d',
                                'keyId': 6968821781947744258}},
 'asserts': {'msg': 0, 'regular': 0, 'rollovers': 0, 'user': 0, 'warning': 0},
 'atlasVersion': {'gitVersion': '438fb41196e737d1aedcff6aac76f3e7895653ac',
                  'version': '20211027.0.0.1634935068'},
 'connections': {'available': 493, 'current': 7, 'totalCreated': 54},
 'extra_info': {'note': 'fields vary by platform', 'page_faults': 0},
 'host': 'cluster0-shard-00-02.8um2o.mongodb.net:27017',
 'localTime': datetime.datetime(2021, 11, 8, 17, 30, 55, 776000),
 'mem': {'bits': 64,
         'mapped': 0,
         'mappedWithJournal': 0,
         'resident': 0,
         'supported': True,
         'virtual': 0},
 'metrics': {'aggStageCounters': {'search': 0, 'searchBeta': 0},
             'atlas': {'connectionPool': {'totalCreated': 91653}}},
 'network': {'bytesIn': 319453998, 'bytesOut': 15007222, 'numRequests': 2205},
 'ok': 1.0,
 'opLatencies': {'commands': {'latency': 6485404025, 'ops': 1726},
                 'reads': {'latency': 595703, 'ops': 12},
                 'writes': {'latency': 375003093, 'ops': 463}},
 'opcounters': {'command': 1735,
                'delete': 0,
                'getmore': 2,
                'insert': 424757,
                'query': 5,
                'update': 0},
 'opcountersRepl': {'command': 0,
                    'delete': 0,
                    'getmore': 0,
                    'insert': 0,
                    'query': 0,
                    'update': 0},
 'operationTime': Timestamp(1636392655, 10),
 'pid': 289022,
 'process': 'mongod',
 'repl': {'electionId': ObjectId('7fffffff000000000000003e'),
          'hosts': ['cluster0-shard-00-00.8um2o.mongodb.net:27017',
                    'cluster0-shard-00-01.8um2o.mongodb.net:27017',
                    'cluster0-shard-00-02.8um2o.mongodb.net:27017'],
          'ismaster': True,
          'lastWrite': {'lastWriteDate': datetime.datetime(2021, 11, 8, 17, 30, 55),
                        'majorityOpTime': {'t': 62,
                                           'ts': Timestamp(1636392655, 10)},
                        'majorityWriteDate': datetime.datetime(2021, 11, 8, 17, 30, 55),
                        'opTime': {'t': 62, 'ts': Timestamp(1636392655, 10)}},
          'me': 'cluster0-shard-00-02.8um2o.mongodb.net:27017',
          'primary': 'cluster0-shard-00-02.8um2o.mongodb.net:27017',
          'rbid': 1,
          'secondary': False,
          'setName': 'atlas-aydp9k-shard-0',
          'setVersion': 6,
          'tags': {'nodeType': 'ELECTABLE',
                   'provider': 'AWS',
                   'region': 'EU_WEST_1',
                   'workloadType': 'OPERATIONAL'},
          'topologyVersion': {'counter': 6,
                              'processId': ObjectId('616ecdfcf1ca8b6882f9e6a8')}},
 'storageEngine': {'backupCursorOpen': False,
                   'dropPendingIdents': 0,
                   'name': 'wiredTiger',
                   'oldestRequiredTimestampForCrashRecovery': Timestamp(1636392618, 10),
                   'persistent': True,
                   'readOnly': False,
                   'supportsCommittedReads': True,
                   'supportsPendingDrops': True,
                   'supportsSnapshotReadConcern': True,
                   'supportsTwoPhaseIndexBuild': True},
 'uptime': 1741011.0,
 'uptimeEstimate': 1741010,
 'uptimeMillis': 1741010918,
 'version': '4.4.10'}


## 2.2 - Create sample data

Let's create our synthetic dataset with students, their mark (scaled from 1-10) and the reviewer on DAPS 2020.

In [219]:
names = ['Anna','Maria','George', 'Mike', 'Alex','Paul','Nick', 'Andrew','Ellie', 'Natalia']
surname = ['Adams', 'Baker', 'Palmer', 'Peterson', 'Roberts', 'Turner', 'Armstrong']
reviewer = ['Laura','Miguel']
student=[]
for i in range(1, 30):
    student.append({
        'name' : names[randint(0, (len(names)-1))] + ' '  + surname[randint(0, (len(surname)-1))],
        'DAPS_assignment' : randint(1, 10),
        'reviewer':  reviewer[randint(0, (len(reviewer)-1))] })
print(student)

[{'name': 'Anna Adams', 'DAPS_assignment': 8, 'reviewer': 'Miguel'}, {'name': 'Anna Baker', 'DAPS_assignment': 5, 'reviewer': 'Laura'}, {'name': 'Paul Peterson', 'DAPS_assignment': 10, 'reviewer': 'Miguel'}, {'name': 'Alex Peterson', 'DAPS_assignment': 1, 'reviewer': 'Miguel'}, {'name': 'Maria Palmer', 'DAPS_assignment': 3, 'reviewer': 'Laura'}, {'name': 'Maria Baker', 'DAPS_assignment': 3, 'reviewer': 'Miguel'}, {'name': 'Maria Adams', 'DAPS_assignment': 4, 'reviewer': 'Miguel'}, {'name': 'Ellie Adams', 'DAPS_assignment': 2, 'reviewer': 'Laura'}, {'name': 'Alex Turner', 'DAPS_assignment': 3, 'reviewer': 'Laura'}, {'name': 'Nick Adams', 'DAPS_assignment': 2, 'reviewer': 'Laura'}, {'name': 'Andrew Armstrong', 'DAPS_assignment': 4, 'reviewer': 'Miguel'}, {'name': 'George Armstrong', 'DAPS_assignment': 4, 'reviewer': 'Miguel'}, {'name': 'Ellie Baker', 'DAPS_assignment': 10, 'reviewer': 'Miguel'}, {'name': 'Paul Palmer', 'DAPS_assignment': 4, 'reviewer': 'Miguel'}, {'name': 'Mike Adams', 'DAPS_assignment': 6, 'reviewer': 'Miguel'}, {'name': 'Alex Armstrong', 'DAPS_assignment': 8, 'reviewer': 'Miguel'}, {'name': 'Alex Armstrong', 'DAPS_assignment': 7, 'reviewer': 'Miguel'}, {'name': 'Maria Armstrong', 'DAPS_assignment': 10, 'reviewer': 'Miguel'}, {'name': 'Nick Roberts', 'DAPS_assignment': 10, 'reviewer': 'Laura'}, {'name': 'Natalia Palmer', 'DAPS_assignment': 1, 'reviewer': 'Laura'}, {'name': 'Mike Palmer', 'DAPS_assignment': 4, 'reviewer': 'Laura'}, {'name': 'Mike Peterson', 'DAPS_assignment': 6, 'reviewer': 'Laura'}, {'name': 'Paul Baker', 'DAPS_assignment': 8, 'reviewer': 'Miguel'}, {'name': 'Alex Roberts', 'DAPS_assignment': 3, 'reviewer': 'Miguel'}, {'name': 'Ellie Peterson', 'DAPS_assignment': 8, 'reviewer': 'Laura'}, {'name': 'Nick Baker', 'DAPS_assignment': 10, 'reviewer': 'Miguel'}, {'name': 'Maria Armstrong', 'DAPS_assignment': 4, 'reviewer': 'Laura'}, {'name': 'Natalia Roberts', 'DAPS_assignment': 2, 'reviewer': 'Laura'}, {'name': 'Mike Roberts', 'DAPS_assignment': 4, 'reviewer': 'Laura'}]



**_[TO DO]_**: Upload this database using `insert_one` or `insert_many` command.

In [220]:
# Create a database object called “students”
db = client.students
db.students.drop()
#display(db)

In [221]:
###########################
# Task: 
#   upload this database using insert_one or insert_many command
#
###########################

db.students.insert_many([{'name': 'Natalia Roberts', 'DAPS_assignment': 3, 'reviewer': 'Miguel'},
                         {'name': 'Alex Adams', 'DAPS_assignment': 2, 'reviewer': 'Miguel'},
                         {'name': 'Nick Peterson', 'DAPS_assignment': 1, 'reviewer': 'Miguel'},
                         {'name': 'Natalia Palmer', 'DAPS_assignment': 8, 'reviewer': 'Laura'},
                         {'name': 'Ellie Adams', 'DAPS_assignment': 4, 'reviewer': 'Laura'},
                         {'name': 'Maria Baker', 'DAPS_assignment': 10, 'reviewer': 'Miguel'},
                         {'name': 'Natalia Peterson', 'DAPS_assignment': 8, 'reviewer': 'Laura'},
                         {'name': 'Andrew Roberts', 'DAPS_assignment': 4, 'reviewer': 'Laura'},
                         {'name': 'Ellie Armstrong', 'DAPS_assignment': 2, 'reviewer': 'Laura'},
                         {'name': 'Natalia Peterson', 'DAPS_assignment': 9, 'reviewer': 'Miguel'},
                         {'name': 'Ellie Peterson', 'DAPS_assignment': 6, 'reviewer': 'Miguel'},
                         {'name': 'Nick Roberts', 'DAPS_assignment': 10, 'reviewer': 'Laura'},
                         {'name': 'Maria Turner', 'DAPS_assignment': 2, 'reviewer': 'Laura'},
                         {'name': 'Natalia Turner', 'DAPS_assignment': 4, 'reviewer': 'Laura'},
                         {'name': 'Andrew Peterson', 'DAPS_assignment': 6, 'reviewer': 'Laura'},
                         {'name': 'Natalia Turner', 'DAPS_assignment': 8, 'reviewer': 'Laura'},
                         {'name': 'Ellie Baker', 'DAPS_assignment': 5, 'reviewer': 'Miguel'},
                         {'name': 'Ellie Turner', 'DAPS_assignment': 10, 'reviewer': 'Laura'},
                         {'name': 'Paul Turner', 'DAPS_assignment': 6, 'reviewer': 'Miguel'},
                         {'name': 'Natalia Turner', 'DAPS_assignment': 1, 'reviewer': 'Laura'},
                         {'name': 'Ellie Turner', 'DAPS_assignment': 9, 'reviewer': 'Miguel'},
                         {'name': 'Ellie Roberts', 'DAPS_assignment': 9, 'reviewer': 'Miguel'},
                         {'name': 'Paul Armstrong', 'DAPS_assignment': 3, 'reviewer': 'Miguel'},
                         {'name': 'Mike Armstrong', 'DAPS_assignment': 1, 'reviewer': 'Miguel'},
                         {'name': 'Anna Armstrong', 'DAPS_assignment': 3, 'reviewer': 'Laura'},
                         {'name': 'Alex Peterson', 'DAPS_assignment': 8, 'reviewer': 'Laura'},
                         {'name': 'Paul Baker', 'DAPS_assignment': 9, 'reviewer': 'Laura'},
                         {'name': 'Natalia Roberts', 'DAPS_assignment': 7, 'reviewer': 'Laura'},
                         {'name': 'Andrew Adams', 'DAPS_assignment': 6, 'reviewer': 'Miguel'}])

In [222]:
db.students.find()

## 2.3 - Query a document


**_[TO DO]_** : Find one student with score of 5. You can use the command `find_one`.

In [223]:
###########################
# Task: 
#   find one student with final DAPS_assignment score equal 5
#
###########################


### TO DO

from pprint import pprint
pprint(db.students.find_one({'DAPS_assignment': 5}))

#########

{'DAPS_assignment': 5,
 '_id': ObjectId('618996786c9a3c5429e896f7'),
 'name': 'Ellie Baker',
 'reviewer': 'Miguel'}


**_[TO DO]_** : Query the database to find the total number of students with score 8 and 3? You can use `aggregation` or `find` command.

In [224]:
###########################
# Task: 
#   Count the total students with final DAPS_assignment score equal to 3 and 8.
#
###########################


### TO DO
a=0
b=0

x=db.students.find({'DAPS_assignment': 8})

for doc in x:
    a=a+1
    print(a)
    print(doc)

y=db.students.find({'DAPS_assignment': 3})

for doc2 in y:
    b=b+1
    print(doc2)
    print(b)

c=a+b
print("the total number of students with score 8 and 3 is",c)


#########

1
{'_id': ObjectId('618996786c9a3c5429e896ea'), 'name': 'Natalia Palmer', 'DAPS_assignment': 8, 'reviewer': 'Laura'}
2
{'_id': ObjectId('618996786c9a3c5429e896ed'), 'name': 'Natalia Peterson', 'DAPS_assignment': 8, 'reviewer': 'Laura'}
3
{'_id': ObjectId('618996786c9a3c5429e896f6'), 'name': 'Natalia Turner', 'DAPS_assignment': 8, 'reviewer': 'Laura'}
4
{'_id': ObjectId('618996786c9a3c5429e89700'), 'name': 'Alex Peterson', 'DAPS_assignment': 8, 'reviewer': 'Laura'}
{'_id': ObjectId('618996786c9a3c5429e896e7'), 'name': 'Natalia Roberts', 'DAPS_assignment': 3, 'reviewer': 'Miguel'}
1
{'_id': ObjectId('618996786c9a3c5429e896fd'), 'name': 'Paul Armstrong', 'DAPS_assignment': 3, 'reviewer': 'Miguel'}
2
{'_id': ObjectId('618996786c9a3c5429e896ff'), 'name': 'Anna Armstrong', 'DAPS_assignment': 3, 'reviewer': 'Laura'}
3
the total number of students with score 8 and 3 is 7

In [225]:
aj=db.students.find()

for doc21 in aj:
    #b=b+1
    print(doc21)

{'_id': ObjectId('618996786c9a3c5429e896e7'), 'name': 'Natalia Roberts', 'DAPS_assignment': 3, 'reviewer': 'Miguel'}
{'_id': ObjectId('618996786c9a3c5429e896e8'), 'name': 'Alex Adams', 'DAPS_assignment': 2, 'reviewer': 'Miguel'}
{'_id': ObjectId('618996786c9a3c5429e896e9'), 'name': 'Nick Peterson', 'DAPS_assignment': 1, 'reviewer': 'Miguel'}
{'_id': ObjectId('618996786c9a3c5429e896ea'), 'name': 'Natalia Palmer', 'DAPS_assignment': 8, 'reviewer': 'Laura'}
{'_id': ObjectId('618996786c9a3c5429e896eb'), 'name': 'Ellie Adams', 'DAPS_assignment': 4, 'reviewer': 'Laura'}
{'_id': ObjectId('618996786c9a3c5429e896ec'), 'name': 'Maria Baker', 'DAPS_assignment': 10, 'reviewer': 'Miguel'}
{'_id': ObjectId('618996786c9a3c5429e896ed'), 'name': 'Natalia Peterson', 'DAPS_assignment': 8, 'reviewer': 'Laura'}
{'_id': ObjectId('618996786c9a3c5429e896ee'), 'name': 'Andrew Roberts', 'DAPS_assignment': 4, 'reviewer': 'Laura'}
{'_id': ObjectId('618996786c9a3c5429e896ef'), 'name': 'Ellie Armstrong', 'DAPS_assignment': 2, 'reviewer': 'Laura'}
{'_id': ObjectId('618996786c9a3c5429e896f0'), 'name': 'Natalia Peterson', 'DAPS_assignment': 9, 'reviewer': 'Miguel'}
{'_id': ObjectId('618996786c9a3c5429e896f1'), 'name': 'Ellie Peterson', 'DAPS_assignment': 6, 'reviewer': 'Miguel'}
{'_id': ObjectId('618996786c9a3c5429e896f2'), 'name': 'Nick Roberts', 'DAPS_assignment': 10, 'reviewer': 'Laura'}
{'_id': ObjectId('618996786c9a3c5429e896f3'), 'name': 'Maria Turner', 'DAPS_assignment': 2, 'reviewer': 'Laura'}
{'_id': ObjectId('618996786c9a3c5429e896f4'), 'name': 'Natalia Turner', 'DAPS_assignment': 4, 'reviewer': 'Laura'}
{'_id': ObjectId('618996786c9a3c5429e896f5'), 'name': 'Andrew Peterson', 'DAPS_assignment': 6, 'reviewer': 'Laura'}
{'_id': ObjectId('618996786c9a3c5429e896f6'), 'name': 'Natalia Turner', 'DAPS_assignment': 8, 'reviewer': 'Laura'}
{'_id': ObjectId('618996786c9a3c5429e896f7'), 'name': 'Ellie Baker', 'DAPS_assignment': 5, 'reviewer': 'Miguel'}
{'_id': ObjectId('618996786c9a3c5429e896f8'), 'name': 'Ellie Turner', 'DAPS_assignment': 10, 'reviewer': 'Laura'}
{'_id': ObjectId('618996786c9a3c5429e896f9'), 'name': 'Paul Turner', 'DAPS_assignment': 6, 'reviewer': 'Miguel'}
{'_id': ObjectId('618996786c9a3c5429e896fa'), 'name': 'Natalia Turner', 'DAPS_assignment': 1, 'reviewer': 'Laura'}
{'_id': ObjectId('618996786c9a3c5429e896fb'), 'name': 'Ellie Turner', 'DAPS_assignment': 9, 'reviewer': 'Miguel'}
{'_id': ObjectId('618996786c9a3c5429e896fc'), 'name': 'Ellie Roberts', 'DAPS_assignment': 9, 'reviewer': 'Miguel'}
{'_id': ObjectId('618996786c9a3c5429e896fd'), 'name': 'Paul Armstrong', 'DAPS_assignment': 3, 'reviewer': 'Miguel'}
{'_id': ObjectId('618996786c9a3c5429e896fe'), 'name': 'Mike Armstrong', 'DAPS_assignment': 1, 'reviewer': 'Miguel'}
{'_id': ObjectId('618996786c9a3c5429e896ff'), 'name': 'Anna Armstrong', 'DAPS_assignment': 3, 'reviewer': 'Laura'}
{'_id': ObjectId('618996786c9a3c5429e89700'), 'name': 'Alex Peterson', 'DAPS_assignment': 8, 'reviewer': 'Laura'}
{'_id': ObjectId('618996786c9a3c5429e89701'), 'name': 'Paul Baker', 'DAPS_assignment': 9, 'reviewer': 'Laura'}
{'_id': ObjectId('618996786c9a3c5429e89702'), 'name': 'Natalia Roberts', 'DAPS_assignment': 7, 'reviewer': 'Laura'}
{'_id': ObjectId('618996786c9a3c5429e89703'), 'name': 'Andrew Adams', 'DAPS_assignment': 6, 'reviewer': 'Miguel'}

 Dr. Laura Toni is happy today and she is going to pass all students with final score 4.
 
**_[TO DO]_** : Change the score on all the students with final mark 4 to 5. You can use one of the following commands: `update_one`, `update_many` and `replace_one`.

In [226]:
aad = "dfg"
bbd = "edf"
ccc = (aad+"5"+bbd)
print(ccc)

dfg5edf

In [227]:
###########################
# Task: 
#   Adjust the score on all the students with final mark 4 to 5.
#
###########################
import ast

### TO DO
#y=db.students.find({'DAPS_assignment': 4})

az=db.students.find({'DAPS_assignment': 4})

for doc21 in az:
    #b=b+1
    #print(doc21)
    w=str(doc21)
    print(w)
    print("\n")
    f = w.split(",",1)[1]
    print(f)
    z=w.split("4,",1)[0]
    k=w.split("4,",1)[1]
    
    #print(z)
    #print(k)
    o=z+"5,"+k
    o=str(o)
    g = o.split(",",1)[1]
    print(g)
    print("\n")
    f = "{"+f
    g = "{"+g
    print(f)
    print(g)
    f = str(f)
    g = str(g)
    
    f = ast.literal_eval(f)
    g = ast.literal_eval(g)
    adc=db.students.replace_one(f,g)

{'_id': ObjectId('618996786c9a3c5429e896eb'), 'name': 'Ellie Adams', 'DAPS_assignment': 4, 'reviewer': 'Laura'}


 'name': 'Ellie Adams', 'DAPS_assignment': 4, 'reviewer': 'Laura'}
 'name': 'Ellie Adams', 'DAPS_assignment': 5, 'reviewer': 'Laura'}


{ 'name': 'Ellie Adams', 'DAPS_assignment': 4, 'reviewer': 'Laura'}
{ 'name': 'Ellie Adams', 'DAPS_assignment': 5, 'reviewer': 'Laura'}
{'_id': ObjectId('618996786c9a3c5429e896ee'), 'name': 'Andrew Roberts', 'DAPS_assignment': 4, 'reviewer': 'Laura'}


 'name': 'Andrew Roberts', 'DAPS_assignment': 4, 'reviewer': 'Laura'}
 'name': 'Andrew Roberts', 'DAPS_assignment': 5, 'reviewer': 'Laura'}


{ 'name': 'Andrew Roberts', 'DAPS_assignment': 4, 'reviewer': 'Laura'}
{ 'name': 'Andrew Roberts', 'DAPS_assignment': 5, 'reviewer': 'Laura'}
{'_id': ObjectId('618996786c9a3c5429e896f4'), 'name': 'Natalia Turner', 'DAPS_assignment': 4, 'reviewer': 'Laura'}


 'name': 'Natalia Turner', 'DAPS_assignment': 4, 'reviewer': 'Laura'}
 'name': 'Natalia Turner', 'DAPS_assignment': 5, 'reviewer': 'Laura'}


{ 'name': 'Natalia Turner', 'DAPS_assignment': 4, 'reviewer': 'Laura'}
{ 'name': 'Natalia Turner', 'DAPS_assignment': 5, 'reviewer': 'Laura'}

In [228]:
aj=db.students.find()

for doc21 in aj:
    #b=b+1
    print(doc21)

{'_id': ObjectId('618996786c9a3c5429e896e7'), 'name': 'Natalia Roberts', 'DAPS_assignment': 3, 'reviewer': 'Miguel'}
{'_id': ObjectId('618996786c9a3c5429e896e8'), 'name': 'Alex Adams', 'DAPS_assignment': 2, 'reviewer': 'Miguel'}
{'_id': ObjectId('618996786c9a3c5429e896e9'), 'name': 'Nick Peterson', 'DAPS_assignment': 1, 'reviewer': 'Miguel'}
{'_id': ObjectId('618996786c9a3c5429e896ea'), 'name': 'Natalia Palmer', 'DAPS_assignment': 8, 'reviewer': 'Laura'}
{'_id': ObjectId('618996786c9a3c5429e896eb'), 'name': 'Ellie Adams', 'DAPS_assignment': 5, 'reviewer': 'Laura'}
{'_id': ObjectId('618996786c9a3c5429e896ec'), 'name': 'Maria Baker', 'DAPS_assignment': 10, 'reviewer': 'Miguel'}
{'_id': ObjectId('618996786c9a3c5429e896ed'), 'name': 'Natalia Peterson', 'DAPS_assignment': 8, 'reviewer': 'Laura'}
{'_id': ObjectId('618996786c9a3c5429e896ee'), 'name': 'Andrew Roberts', 'DAPS_assignment': 5, 'reviewer': 'Laura'}
{'_id': ObjectId('618996786c9a3c5429e896ef'), 'name': 'Ellie Armstrong', 'DAPS_assignment': 2, 'reviewer': 'Laura'}
{'_id': ObjectId('618996786c9a3c5429e896f0'), 'name': 'Natalia Peterson', 'DAPS_assignment': 9, 'reviewer': 'Miguel'}
{'_id': ObjectId('618996786c9a3c5429e896f1'), 'name': 'Ellie Peterson', 'DAPS_assignment': 6, 'reviewer': 'Miguel'}
{'_id': ObjectId('618996786c9a3c5429e896f2'), 'name': 'Nick Roberts', 'DAPS_assignment': 10, 'reviewer': 'Laura'}
{'_id': ObjectId('618996786c9a3c5429e896f3'), 'name': 'Maria Turner', 'DAPS_assignment': 2, 'reviewer': 'Laura'}
{'_id': ObjectId('618996786c9a3c5429e896f4'), 'name': 'Natalia Turner', 'DAPS_assignment': 5, 'reviewer': 'Laura'}
{'_id': ObjectId('618996786c9a3c5429e896f5'), 'name': 'Andrew Peterson', 'DAPS_assignment': 6, 'reviewer': 'Laura'}
{'_id': ObjectId('618996786c9a3c5429e896f6'), 'name': 'Natalia Turner', 'DAPS_assignment': 8, 'reviewer': 'Laura'}
{'_id': ObjectId('618996786c9a3c5429e896f7'), 'name': 'Ellie Baker', 'DAPS_assignment': 5, 'reviewer': 'Miguel'}
{'_id': ObjectId('618996786c9a3c5429e896f8'), 'name': 'Ellie Turner', 'DAPS_assignment': 10, 'reviewer': 'Laura'}
{'_id': ObjectId('618996786c9a3c5429e896f9'), 'name': 'Paul Turner', 'DAPS_assignment': 6, 'reviewer': 'Miguel'}
{'_id': ObjectId('618996786c9a3c5429e896fa'), 'name': 'Natalia Turner', 'DAPS_assignment': 1, 'reviewer': 'Laura'}
{'_id': ObjectId('618996786c9a3c5429e896fb'), 'name': 'Ellie Turner', 'DAPS_assignment': 9, 'reviewer': 'Miguel'}
{'_id': ObjectId('618996786c9a3c5429e896fc'), 'name': 'Ellie Roberts', 'DAPS_assignment': 9, 'reviewer': 'Miguel'}
{'_id': ObjectId('618996786c9a3c5429e896fd'), 'name': 'Paul Armstrong', 'DAPS_assignment': 3, 'reviewer': 'Miguel'}
{'_id': ObjectId('618996786c9a3c5429e896fe'), 'name': 'Mike Armstrong', 'DAPS_assignment': 1, 'reviewer': 'Miguel'}
{'_id': ObjectId('618996786c9a3c5429e896ff'), 'name': 'Anna Armstrong', 'DAPS_assignment': 3, 'reviewer': 'Laura'}
{'_id': ObjectId('618996786c9a3c5429e89700'), 'name': 'Alex Peterson', 'DAPS_assignment': 8, 'reviewer': 'Laura'}
{'_id': ObjectId('618996786c9a3c5429e89701'), 'name': 'Paul Baker', 'DAPS_assignment': 9, 'reviewer': 'Laura'}
{'_id': ObjectId('618996786c9a3c5429e89702'), 'name': 'Natalia Roberts', 'DAPS_assignment': 7, 'reviewer': 'Laura'}
{'_id': ObjectId('618996786c9a3c5429e89703'), 'name': 'Andrew Adams', 'DAPS_assignment': 6, 'reviewer': 'Miguel'}

That was an unfair move!

**_[TO DO]_** : Let's delete all the documents that Dr. Laura Toni marked!

In [233]:
###########################
# Task: 
#   Delete all documents with `reviewer:Laura`.
#
###########################


### TO DO
fff=db.students.remove({'reviewer': 'Laura'})

af=db.students.find()

for doc211 in af:
    print(doc211)
#########

{'_id': ObjectId('618996786c9a3c5429e896e7'), 'name': 'Natalia Roberts', 'DAPS_assignment': 3, 'reviewer': 'Miguel'}
{'_id': ObjectId('618996786c9a3c5429e896e8'), 'name': 'Alex Adams', 'DAPS_assignment': 2, 'reviewer': 'Miguel'}
{'_id': ObjectId('618996786c9a3c5429e896e9'), 'name': 'Nick Peterson', 'DAPS_assignment': 1, 'reviewer': 'Miguel'}
{'_id': ObjectId('618996786c9a3c5429e896ec'), 'name': 'Maria Baker', 'DAPS_assignment': 10, 'reviewer': 'Miguel'}
{'_id': ObjectId('618996786c9a3c5429e896f0'), 'name': 'Natalia Peterson', 'DAPS_assignment': 9, 'reviewer': 'Miguel'}
{'_id': ObjectId('618996786c9a3c5429e896f1'), 'name': 'Ellie Peterson', 'DAPS_assignment': 6, 'reviewer': 'Miguel'}
{'_id': ObjectId('618996786c9a3c5429e896f7'), 'name': 'Ellie Baker', 'DAPS_assignment': 5, 'reviewer': 'Miguel'}
{'_id': ObjectId('618996786c9a3c5429e896f9'), 'name': 'Paul Turner', 'DAPS_assignment': 6, 'reviewer': 'Miguel'}
{'_id': ObjectId('618996786c9a3c5429e896fb'), 'name': 'Ellie Turner', 'DAPS_assignment': 9, 'reviewer': 'Miguel'}
{'_id': ObjectId('618996786c9a3c5429e896fc'), 'name': 'Ellie Roberts', 'DAPS_assignment': 9, 'reviewer': 'Miguel'}
{'_id': ObjectId('618996786c9a3c5429e896fd'), 'name': 'Paul Armstrong', 'DAPS_assignment': 3, 'reviewer': 'Miguel'}
{'_id': ObjectId('618996786c9a3c5429e896fe'), 'name': 'Mike Armstrong', 'DAPS_assignment': 1, 'reviewer': 'Miguel'}
{'_id': ObjectId('618996786c9a3c5429e89703'), 'name': 'Andrew Adams', 'DAPS_assignment': 6, 'reviewer': 'Miguel'}

<ipython-input-233-c244317dd61a>:9: DeprecationWarning: remove is deprecated. Use delete_one or delete_many instead.
  fff=db.students.remove({'reviewer': 'Laura'})

In [234]:
#fffff
print("finished!")

finished!

GOOD JOB! You finished the tasks!


You might be asking yourself now: Why and when a non-elational database is useful? MongoDB allows storing data in documents. This is very useful when you have a lot of many-to-many relationships. Other advantages include:
- it enables the fast development of applications, 
- it supports highly diverse data types, 
- and allows efficient interations with applications at scale.
Read more here: https://www.mongodb.com/compare/mongodb-mysql 


You can learn more about developing MongoDB-based applications here:
- https://university.mongodb.com/courses/M121/about?jmp=M101Pap
- https://university.mongodb.com/courses/M220P/about?jmp=M101Pap
- https://university.mongodb.com/courses/M320/about?jmp=M101Pap